.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #F3F3F4;
    border: 1px solid #D3D3D3;
    border-radius: 5px;
    width: 85%;
    padding: 10px 16px 20px 16px;
}

.title {
    font-family: "Grtsk Exa Bold", sans-serif;
}

.title {
    font-family: "Grtsk Exa Semibold", sans-serif;
}

.date {
    font-family: "Grtsk Exa Regular", sans-serif;
    color: #6C6C6C;

}

.topLine {
    display: flex;
    justify-content: space-between;
    margin-bottom: 8px;
}

.description {
    font-family: "Grtsk Exa Regular", sans-serif;
}