.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 16px;
    width: 100%;
}

.title {
    margin-top: 16px;
    margin-bottom: 24px;
}

.inputContainer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 88%;
    gap: 10px;
}

.input {
    display: flex;
    flex-direction: row;
    width: 100%;
    align-items: center;
}

.inputStroke {
    height: 30px;
    border: 1px solid black;
    border-radius: 4px;
    font-size: 16px;
    font-family: "Grtsk Exa Regular", sans-serif;
    width: 100%;
    padding: 2px 8px 2px 26px;
}

.option {
    background-image: url("/src/assets/IconOptions.svg");
    width: 24px;
    height: 24px;
    background-repeat: no-repeat;
    border: none;
    background-color: transparent;
    cursor: pointer;
}

.icon {
    position: absolute;
    margin-left: 8px;
}

.coworkings {
    display: flex;
    margin-top: 24px;
    flex-direction: column;
    gap: 24px;
}