@font-face {
    font-family: 'Grtsk Exa Medium';
    src: url('./assets/fonts/Grtsk-Exa-Medium-Cyrillic-Latin-ekaterina_deryushkina.woff2') format('woff2');
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: 'Grtsk Exa Regular';
    src: url('./assets/fonts/Grtsk-Exa-Regular-Cyrillic-Latin-ekaterina_deryushkina.woff2') format('woff2');
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: 'Grtsk Exa Semibold';
    src: url('./assets/fonts/Grtsk-Exa-Semibold-Cyrillic-Latin-ekaterina_deryushkina.woff2') format('woff2');
    font-style: normal;
    font-weight: normal;
}


@font-face {
    font-family: "Grtsk Mega Bold";
    src: url('./assets/fonts/Grtsk-Mega-Bold-Cyrillic-Latin-ekaterina_deryushkina.woff2') format('woff2');
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: 'Grtsk Mega Bold';
    src: url('./assets/fonts/Grtsk-Tera-Bold-Cyrillic-Latin-ekaterina_deryushkina.woff2') format('woff2');
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: 'Grtsk Tera Semibold';
    src: url('./assets/fonts/Grtsk-Tera-Semibold-Cyrillic-Latin-ekaterina_deryushkina.woff2') format('woff2');
    font-style: normal;
    font-weight: normal;
}

h2 {
    font-family: "Grtsk Tera Semibold", sans-serif;
    justify-self: center;
    font-size: 20px;
    margin: 0;
}